header.header
	.container
		.row
			.col-sm-12.col-md-9
				// логотип
				a.header__logo(href="/")
					img(src="/img/logo.png" alt="Site Logo")
				// / логотип
				.header__center
					// информация
					.header__info
						a.header__info-holder.header__info-holder--link(href="#enter-window" data-fancybox) 
							img(src="/img/lock.png", alt="")
							|  Вход в кабинет
						a.header__info-holder.header__info-holder--link(href="mailto:#{email}") 
							img(src="/img/mail.png", alt="")
							|  #{email}
						p.header__info-holder 
							img(src="/img/map.png", alt="")
							|  #{address}
					// / информация
					// меню
					.header__menu
						button.header__menu-btn.visible-xs(type="button" data-toggle-class="#menu")
							span
						ul.header__menu-list#menu
							each item in menu
								li.header__menu-list-item
									a.header__menu-list-item-link(href="#!") #{item}
					// / меню
			.col-sm-12.col-md-3.text-center.col-sm-push-5.col-md-push-0.header__right-block
				.row
					.col-md-12.col-sm-5
						.header__callblock
							a.header__callblock-link(href="tel:+74957218171") #{phone}
						.header__callback
							a.header__callback-link(href="#!") звонок онлайн
							span.header__callback-devider /
							a.header__callback-link(href="#callback" data-fancybox) обратный звонок
					.col-md-12.col-sm-7.hidden-xs
						.header__social
							a.header__social-link(href="#!" target="_blank")
								img.header__social-link-img(src="/img/inst.png", alt="social-img")
							a.header__social-link(href="#!" target="_blank")
								img.header__social-link-img(src="/img/fb.png", alt="social-img")
							a.header__social-link(href="#!" target="_blank")
								img.header__social-link-img(src="/img/vk.png", alt="social-img")
		.row
			.col-sm-12
				// блок с кнопками
				.header__buttons
					ul.header__buttons-list
						li.header__buttons-list-item
							a.header__buttons-list-item-link(href="#!" data-mob) Фотокниги
							// выпадающее меню
							.header__buttons-dropdown
								ul.header__buttons-dropdown-list
									li.header__buttons-dropdown-list-item
										a.header__buttons-dropdown-list-link(href="#!")
											img.header__buttons-dropdown-list-img(src="/img/drop-img-1.png", alt="drop-img")
											p.header__buttons-dropdown-list-text Книги на нитке<br><span class="hidden-xs">от 300 руб.</span>
									li.header__buttons-dropdown-list-item
										a.header__buttons-dropdown-list-link(href="#!")
											img.header__buttons-dropdown-list-img(src="/img/drop-img-2.png", alt="drop-img")
											p.header__buttons-dropdown-list-text Премиум альбомы<br><span class="hidden-xs">от 400 руб.</span>
									li.header__buttons-dropdown-list-item
										a.header__buttons-dropdown-list-link(href="#!")
											img.header__buttons-dropdown-list-img(src="/img/drop-img-3.png", alt="drop-img")
											p.header__buttons-dropdown-list-text Книга бабочка<br><span class="hidden-xs">от 500 руб.</span>
									li.header__buttons-dropdown-list-item
										a.header__buttons-dropdown-list-link(href="#!")
											img.header__buttons-dropdown-list-img(src="/img/drop-img-4.png", alt="drop-img")
											p.header__buttons-dropdown-list-text Журнал<br><span class="hidden-xs">от 999 руб.</span>
									li.header__buttons-dropdown-list-item
										a.header__buttons-dropdown-list-link(href="#!")
											img.header__buttons-dropdown-list-img(src="/img/drop-img-5.png", alt="drop-img")
											p.header__buttons-dropdown-list-text Брошюра<br><span class="hidden-xs">от 1 300 руб.</span>
							// / выпадающее
						li.header__buttons-list-item
							a.header__buttons-list-item-link(href="#!" data-mob) Интерьерная печать
				// / блок с кнопками